html
    head
        title!=title
        <link rel="stylesheet" href="/bulma/bulma.css">
        <link rel="stylesheet" href="/toastr/toastr.min.css">
        <link rel="stylesheet" href="/style.css">

    body
        <section class="hero is-#{color}">
            <div class="hero-body">
                <div class="container">
                <img src="/#{userID}.pdf" id="#{userID}">
                <h1 class="title">#{userID}</h1>
                <h2 class="subtitle">Demo - ROME</h2>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <a id="fallevent" class="button is-danger is-outlined is-vertical-center">Trigger event "fall"</a>
                    </div>
                    <div class="column">
                        <a id="normalevent" class="button is-success is-outlined is-vertical-center">Trigger event "normal"</a>
                    </div>
                    <div class="column">
                        <a id="location" data-user="#{userID}" class="button is-info is-outlined is-vertical-center">Get location</a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a id="createdoc" class="button is-success is-vertical-center">Create Doctor</a>
                    </div>
                    <div class="column">
                        <a id="deletedoc" class="button is-danger is-vertical-center">Delete Doctor</a>
                    </div>
                    <div class="column">
                        <a id="checkpolicy" data-user="#{userID}" class="button is-info is-vertical-center">Check policy</a>
                    </div>
                </div>
            </div>
        </section>


        <footer class="bind-to-bottom">
            <div class="content has-text-centered">
                <div class="columns">
                    <div class="column">
                        <img src="/logo_isl.png" style="width: 300px; margin-top: 20px;">
                    </div>
                    <div class="column">
                        <img src="/logo_fac.png" style="width: 300px; padding-bottom: 50px;">
                    </div>
                </div>
            </div>
        </footer>

        <script src="/helper.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/toastr/toastr.min.js"></script>